@import "_setting";
@import "_reset";
@import "_mixin";
@import "compass";
#header{
	height: 50px;
	width: 100%;
	background: #ddd;
}
.form{
	.dispErr{
		color: #f00;
	}
	.input{
		//width: 100%;
		//text-align: center;
		label{
			//text-align: left;
			display: inline-block;
			width: 120px;
		}
		input[type=text],
		input[type=email],
		input[type=password]{
			width: 200px;
			border: solid 1px #eee;
			border-radius: 5px;
			padding: 5px;
		}
		input[type=checkbox]{
			margin-left: 120px;
		}
		&.checkbox{
			label{
				width: auto;
			}
		}
	}
	.submit{
		input{
			cursor: pointer;
			background: #1e9af8;
			color: #fff;
			border:none;
			padding: 5px 15px;
			border-radius: 5px;
			-webkit-transition: 100ms linear;
			-moz-transition: 100ms linear;
			-ms-transition: 100ms linear;
			-o-transition: 100ms linear;
			transition: 100ms linear;
			&:hover{
				background: #80c6fa;
			}
			&:disabled,
			&.disabled{
				background: #ccc;
				cursor: not-allowed;
			}
		}
	}
}